<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" [routerLink]="['/guardian']">
                <img src="/assets/images/gog.jpg">
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" [routerLink]="['/avengers']">
                <img src="/assets/images/avg.jpg">
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" [routerLink]="['/xmen']">
                <img src="/assets/images/xm.jpg">
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" [routerLink]="['/fantastic']">
                <img src="/assets/images/f4.jpg">
            </a>
        </div>

    </div>
</div>